altair                    
asttokens                 
attrs                     
blinker                 
cachetools                
certifi                   
charset-normalizer        
click                     
colorama                  
comm                      
contourpy                 
cycler                    
debugpy                   
decorator                 
executing                 
fonttools                 
gitdb                     
GitPython                 
h5py                      
idna                      
ipykernel                 
ipython                   
ipython_pygments_lexers   
jedi                      
Jinja2                    
jsonschema                
jsonschema-specifications 
jupyter_client            
jupyter_core              
kiwisolver                
llvmlite                  
MarkupSafe                
matplotlib                
matplotlib-inline         
narwhals                  
nest-asyncio              
numba                     
numpy                     
packaging                 
pandas                    
parso                     
pillow                    
pip                       
platformdirs              
ply                       
prompt_toolkit            
protobuf                  
psutil                    
pure_eval                 
pvlib                     
pyarrow                   
pydeck                    
Pygments                  
pyomo                     
pyparsing                 
python-dateutil           
pytz                      
pyzmq                     
referencing               
requests                  
rpds-py                   
scipy                     
six                       
smmap                     
stack-data                
streamlit>=1.31.0                 
tenacity                  
toml                      
tornado                   
traitlets                 
typing_extensions         
tzdata                    
urllib3                   
watchdog                  

wcwidth                   
